@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">No tiene permisos suficientes para accesar a este recurso.</p>
</header>
