@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de envio de contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor revisa tu correo de contacto para restaurar tu contraseña.
</p>

