@page
@model LockoutModel
@{
    ViewData["Title"] = "Cuenta Bloqueada";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Esta cuenta se encuetnra bloqueada. Favor de contactar al administrador</p>
</header>
